.rgb{
    font-size: 30px;
    font-weight: bolder;
    ;
}

.main{
    display: flex;
}

body{
    background-color: black;
    /*height: 100%;*/
    flex-direction: column;
}

.conteudo{
}

.sidebar{
    height: 100%;
    left: 0;
    display: inline-block;
}

.branco{
    color: white;
}
